<div id="footer">
  <div class="container zstack-footer-before zstack-footer-after">
    <div class="row zstack-footer-links">
      <div class="col-sm-3 col-sm-offset-1">
        <p class="footer-text-title">社区</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="http://www.zstack.io/community/code/">社区介绍</a></li>
          <li><a class="footer-text-link" href="/cn/misc/qq.html">QQ群</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p class="footer-text-title">资源</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="http://www.zstack.io/product_downloads/">下载安装</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.io/user_manual/PD1003_ZStackUserManual.pdf">用户手册</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="footer-text-title">联系我们</p>
        <a title="Email" class="contact-icon fa fa-envelope" href="mailto:contact@zstack.io"></a>
      </div>
    </div>
  </div>
</div>
<div class="footer-last">
  <div>
      <i><b>我们非常重视您的观点，请把您的想法告诉我们。 &nbsp;&nbsp;<a title="Email" class="contact-icon fa fa-envelope" href="mailto:contact@zstack.io"></a></b> <i>
  </div>
</div>
