<div id="footer">
  <div class="container zstack-footer-before zstack-footer-after">
    <div class="row zstack-footer-links">
      <div class="col-sm-3 col-sm-offset-1">
        <p class="footer-text-title">Community</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="https://groups.google.com/forum/#!forum/zstack"> Mailing List</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/community">Community</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/blog">Blog</a></li>
          <li>Gitter</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p class="footer-text-title">Resources</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="http://www.zstack.org/installation">Intallation</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/tutorials">Tutorials</a></li>
          <li><a class="footer-text-link" href="http://zstackdoc.readthedocs.org/en/latest/userManual/cli.html">zstack-cli</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/documentation">Documentation</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="footer-text-title">Connect Us</p>
        <ul class="footer-ul">
          <a title="Twitter" class="contact-icon contact-icon-size fa fa-twitter" href="https://twitter.com/zstack_org" target="_blank"></a>&nbsp;&nbsp;
          <a title="Facebook" class="contact-icon contact-icon-size fa fa-facebook" href="https://www.facebook.com/zstackorg" target="_blank"></a>&nbsp;&nbsp;
          <a title="Github" class="contact-icon contact-icon-size fa fa-github-alt" href="https://github.com/zstackorg/zstack" target="_blank"></a>&nbsp;&nbsp;
          <a title="Wechat" class="contact-icon contact-icon-size fa fa-weixin" href="../misc/wechat.html" target="_blank"></a>&nbsp;&nbsp;
          <a title="Weibo" class="contact-icon contact-icon-size fa fa-weibo" href="http://weibo.com/zstack" target="_blank"></a>&nbsp;&nbsp;
        </ul>
        <ul class="footer-ul zstack-footer-before2">
          <li><i>ZStack is open source IaaS software provided under the Apache 2.0 license.</i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-last">
  <div>
    Copyright © 2015 <img width="250px" class="img-responsive" src="/images/logo.svg" style="display: inline">
  </div>
</div>
