<div id="footer">
  <div class="container zstack-footer-before zstack-footer-after">
    <div class="row zstack-footer-links">
      <div class="col-sm-3 col-sm-offset-1">
        <p class="footer-text-title">社区</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="https://groups.google.com/forum/#!forum/zstack"> 订阅邮件组</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/community">社区介绍</a></li>
          <li>QQ群</li>
          <li><a class="footer-text-link" href="../misc/wechat.html">微信订阅号</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p class="footer-text-title">资源</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="http://www.zstack.org/installation">安装手册</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/tutorials">新手入门</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/blog">新闻博客</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/documentation">更多文档</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="footer-text-title">联系我们</p>
        <ul class="footer-ul">
          <a title="Twitter" class="contact-icon contact-icon-size fa fa-twitter" href="https://twitter.com/zstack_org" target="_blank"></a>&nbsp;&nbsp;
          <a title="Facebook" class="contact-icon contact-icon-size fa fa-facebook" href="https://www.facebook.com/zstackorg" target="_blank"></a>&nbsp;&nbsp;
          <a title="Github" class="contact-icon contact-icon-size fa fa-github-alt" href="https://github.com/zstackorg/zstack" target="_blank"></a>&nbsp;&nbsp;
          <a title="Wechat" class="contact-icon contact-icon-size fa fa-weixin" href="../misc/wechat.html" target="_blank"></a>&nbsp;&nbsp;
          <a title="Weibo" class="contact-icon contact-icon-size fa fa-weibo" href="http://weibo.com/zstack" target="_blank"></a>&nbsp;&nbsp;
        </ul>
        <ul class="footer-ul zstack-footer-before2">
          <li><i>ZStack 是开源的IaaS软件，其开源代码遵守 Apache 2.0 协议的规定.</i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-last">
  <div>
      <i><b>Your feedback is invaluable, please let us know your thoughts. &nbsp;&nbsp;<a title="Email" class="contact-icon fa fa-envelope" href="mailto:info@zstack.org"></a></b> <i>
  </div>
</div>
