<div id="footer">
  <div class="container zstack-footer-before zstack-footer-after">
    <div class="row zstack-footer-links">
      <div class="col-xs-3 col-xs-offset-1">
        <p class="footer-text-title">Community</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="https://groups.google.com/forum/#!forum/zstack"> Mailing List</a></li>
          <li>Gitter</li>
          <li>Contribute</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <p class="footer-text-title">Resources</p>
        <ul class="footer-ul">
          <li><a class="footer-text-link" href="http://www.zstack.org/installation">Intallation</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/tutorials">Tutorials</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/blog">Blog</a></li>
          <li><a class="footer-text-link" href="http://www.zstack.org/documentation">Documentation</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <p class="footer-text-title">Connect Us</p>
        <ul class="footer-ul">
          <a title="Twitter" class="contact-icon fa fa-twitter fa-3" href="https://twitter.com/zstack_org" target="_blank"></a>&nbsp;&nbsp;
          <a title="Facebook" class="contact-icon fa fa-facebook fa-3" href="" target="_blank"></a>&nbsp;&nbsp;
          <a title="Github" class="contact-icon fa fa-github-alt fa-3" href="" target="_blank"></a>&nbsp;&nbsp;
          <a title="Wechat" class="contact-icon fa fa-weixin fa-3" href="../misc/wechat.html" target="_blank"></a>&nbsp;&nbsp;
          <a title="Weibo" class="contact-icon fa fa-weibo fa-3" href="http://weibo.com/zstack" target="_blank"></a>&nbsp;&nbsp;
        </ul>
        <ul class="footer-ul zstack-footer-before">
          <li><i>ZStack is an open source IaaS software provided under the Apache 2.0 license.</i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-last">
  <div>
      <i><b>Your feedback is invaluable, please let us know your thoughts.</b> <i>
  </div>
</div>
