<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shorcut icon" href="/image/zstack_text_icon_32x32.png">
    <link rel="icon" href="/images/zstack_text_icon_32x32.png">
    <meta name="description" content="{{ site.title }} : {{ site.description }}">
    <meta name="keywords" content="ZStack, OpenStack, CloudStack, IaaS, Docker, Open Source">

    <title>{{ site.title }} : {{ site.description }}</title>
    <script type="text/javascript" src="/js/google_analytics.js"></script>
    <link href="/css/bootstrap-3.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/code.css" rel="stylesheet">
    <link href="/css/zstack.css?v=1.1" rel="stylesheet">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://zstack.org/" />
    <meta name="twitter:title" content="ZStack" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:site" content="@zstack_org" />

    <!-- Facebook -->
    <meta property="og:side_name" content="ZStack" />
    <meta property="og:title" content="ZStack" />
    <meta property="og:url" content="http://zstack.org/" />
    <meta property="og:description" content="{{ site.description }}" />

</head>
