<!DOCTYPE html>
<html>

{% include head.html %}
{% include js.html %}
<body>


{% include navbar.html %}

<div class="container big-font">
  <div class="col-xs-8">
    {% for post in site.posts%}
    <div>
      <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
      <p class="post-meta">{% if post.author %} by {{ post.author }}{% endif %} on {{ post.date | date: "%b %-d, %Y" }}</p>
      {{post.excerpt}}
      <a href="{{post.url}}">Read more >></a>
      <div style="margin-top: 15px">
        <div class="a2a_kit a2a_default_style" data-a2a-url="http://zstack.org{{post.url}}" data-a2a-title="{{post.title}}">
          <a class="a2a_button_facebook" ></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          <a class="a2a_button_linkedin"></a>
          <a class="a2a_button_reddit"></a>
          <a class="a2a_button_hacker_news"></a>
          <a class="a2a_button_sina_weibo"></a>
          <span class="a2a_divider"></span>
          <a class="a2a_dd" href="https://www.addtoany.com/share_save">Share</a>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
  <div class="col-xs-4" style="margin-top: 25px">
    <ul class="nav nav-pills nav-stacked left-slider">
      <ol>
        {% for post in site.posts %}
        <li style="padding: 10px"><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
      </ol>
    </ul>
  </div>
</div>

{% include foot.html %}

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
</body>

</html>
